.loaderContainer {
  text-align: center;
}

.loaderContainer:before,
.loaderContainer:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 75px;
  display: inline-block;
  vertical-align: middle;
}

.loader .circle {
  position: absolute;
  border: 4px solid var(--backgroundColor);
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom: 0;
  width: 100%;
  height: 100%;
  animation: loader 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
