.newsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media screen and (max-width: 992px) {
  .newsList {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .newsList {
    grid-template-columns: 1fr;
  }
}
