.newsList {
    margin-top: 20px;;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  
  @media screen and (max-width: 992px) {
    .newsList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 600px) {
    .newsList {
      grid-template-columns: 1fr;
    }
  }
  
  .searchField {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--backgroundColor);
    border-radius: 4px;
    box-sizing: border-box;
  }
