.container {
    grid-area: navbar;
    background-color: var(--backgroundColor);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--contentPadding);
    padding-right: var(--contentPadding);
}

.link {
    margin-right: 20px;
    text-decoration: none;
    color: var(--primaryColor);
    transition: color 1.4s, font-size 0.3s ease-in-out;
    font-size: 16px;
}

.linkActive {
    font-size: 20px;
    color: var(--secondaryColor);
}
