.container {
  width: 60%;
  margin: auto;
}

@media screen and (max-width: 992px) {
    .container {
      width: 100%;
    }
  }

.content {
  display: flex;
  flex-direction: column;
}

.content img {
  width: 100%;
  margin-top: var(--contentPadding);
  margin-bottom: var(--contentPadding);
}
