.container {
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: normal;
    height: 100%;
    background-color: var(--backgroundColorSecondary);
}

.image {
    object-fit: cover;
    width: 80%; 
    height: auto;
    max-height: 160px;
    margin-top: var(--contentPadding);
    margin-bottom: var(--contentPadding);
}

.container p.link {
    text-align: right;
    padding-right: 20px;
}