* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root{
    --navbarHeight: 60px;
    --contentPadding: 30px;
    --backgroundColor: #ffb347;
    --backgroundColorSecondary: beige;
}

html, body, #root{
    height: 100%;
    overflow: hidden;
  }

  .link {
      color: blue;
  }